* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1250px;
  margin: auto;
  padding: 0 32px;
}

.s1 {
  width: 100%;
  background-color: #ecfdff;
}
.s1 nav {
  width: 100%;
  margin: auto;
  padding: 30px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.s1 nav .menu {
  font-size: 30px;
  display: none;
}
.s1 nav .list ul {
  display: flex;
  gap: 52px;
  list-style: none;
}
.s1 nav .icons ul {
  list-style: none;
  display: flex;
  gap: 28px;
}
.s1 .s1-in {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 160px 0;
}
.s1 .s1-in .text {
  width: 32%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.s1 .s1-in .text h1 {
  font-size: 66px;
  line-height: 65px;
}
.s1 .s1-in .text p {
  font-size: 14px;
  line-height: 25px;
}
.s1 .s1-in .text button {
  margin-top: 20px;
  width: 50%;
  height: 60px;
  color: white;
  background-color: #ff3368;
  background-image: linear-gradient(16deg, #ff005a 0%, #ff5d2d 80%, #ffba00 100%);
  font-size: 15px;
  font-weight: 500;
  border-radius: 5px;
  border: none;
  transition: 0.4s;
}
.s1 .s1-in .text button:hover {
  background-image: linear-gradient(16deg, #ff005a 0%, #ff5d2d 55%, #ffba00 100%);
}
.s1 .s1-in .img {
  width: 60%;
}
.s1 .s1-in .img img {
  width: 100%;
}

.s2 {
  width: 100%;
}
.s2 .s2-in {
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 70px 0;
}
.s2 .s2-in .text h1 {
  font-size: 36px;
}
.s2 .s2-in .boxes {
  width: 100%;
  padding: 90px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 30px;
}
.s2 .s2-in .boxes .box1 {
  width: 60%;
  display: flex;
  background-color: #f8fbff;
  display: flex;
  justify-content: start;
  padding-top: 30px;
  position: relative;
}
.s2 .s2-in .boxes .box1 .img {
  display: flex;
  justify-content: end;
  position: absolute;
  bottom: 0;
  right: 20px;
}
.s2 .s2-in .boxes .box1 .img img {
  width: 100%;
}
.s2 .s2-in .boxes .box1 .text {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-left: 40px;
}
.s2 .s2-in .boxes .box1 .text h1 {
  font-size: 24px;
  margin-top: 10px;
}
.s2 .s2-in .boxes .box1 .text p {
  font-size: 16px;
}
.s2 .s2-in .boxes .box2 {
  width: 38%;
  display: flex;
  background-color: #f8fbff;
  position: relative;
  justify-content: center;
  padding-top: 30px;
}
.s2 .s2-in .boxes .box2 .img {
  display: flex;
  justify-content: end;
  width: 60%;
}
.s2 .s2-in .boxes .box2 .img img {
  width: 100%;
}
.s2 .s2-in .boxes .box2 .text {
  width: 50%;
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  align-items: start;
}
.s2 .s2-in .boxes .box2 .text h1 {
  font-size: 24px;
  margin-top: 10px;
}
.s2 .s2-in .boxes .box2 .text p {
  font-size: 16px;
}
.s2 .s2-in .boxes .box3 {
  width: 38%;
  display: flex;
  background-color: #f8fbff;
  position: relative;
  justify-content: center;
  padding-top: 30px;
  flex-direction: column;
  gap: 20px;
}
.s2 .s2-in .boxes .box3 .img {
  display: flex;
  margin-left: 190px;
  width: 50%;
}
.s2 .s2-in .boxes .box3 .img img {
  width: 100%;
}
.s2 .s2-in .boxes .box3 .text {
  width: 50%;
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  align-items: start;
}
.s2 .s2-in .boxes .box3 .text h1 {
  font-size: 24px;
  margin-top: 10px;
}
.s2 .s2-in .boxes .box3 .text p {
  font-size: 16px;
}
.s2 .s2-in .boxes .box4 {
  width: 60%;
  display: flex;
  background-color: #f8fbff;
  position: relative;
  justify-content: space-between;
  padding-top: 30px;
  flex-direction: column;
}
.s2 .s2-in .boxes .box4 .img {
  display: flex;
  margin-left: 70px;
  width: 80%;
}
.s2 .s2-in .boxes .box4 .img img {
  width: 100%;
}
.s2 .s2-in .boxes .box4 .text {
  width: 50%;
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  align-items: start;
}
.s2 .s2-in .boxes .box4 .text h1 {
  font-size: 24px;
  margin-top: 10px;
}
.s2 .s2-in .boxes .box4 .text p {
  font-size: 16px;
}

.s3 {
  width: 100%;
}
.s3 .s3-in {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.s3 .s3-in .text {
  display: flex;
  align-items: center;
  gap: 60px;
}
.s3 .s3-in .text h3 {
  margin-top: 9px;
  color: #ADADAD;
}
.s3 .s3-in .text h1 {
  font-size: 36px;
}
.s3 .s3-in .boxes {
  width: 100%;
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 50px;
}
.s3 .s3-in .boxes .box1 {
  width: 23%;
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: start;
  text-align: left;
}
.s3 .s3-in .boxes .box1 .text {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: start;
}
.s3 .s3-in .boxes .box1 .text h3 {
  color: black;
}
.s3 .s3-in .boxes .box1 .text h4 {
  font-weight: 300;
  font-size: 18px;
}
.s3 .s3-in .boxes .box1 .img {
  width: 100%;
}
.s3 .s3-in .boxes .box1 .img img {
  width: 100%;
}

.s4 {
  width: 100%;
  background-color: #ecfdff;
}
.s4 .s4-in {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 0;
}
.s4 .s4-in .img {
  width: 36%;
}
.s4 .s4-in .img img {
  width: 100%;
}
.s4 .s4-in .text {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.s4 .s4-in .text h1 {
  font-size: 56px;
}
.s4 .s4-in .text .boxes {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.s4 .s4-in .text .boxes .box1 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-right: 1px solid rgba(173, 173, 173, 0.4392156863);
  padding-right: 60px;
}
.s4 .s4-in .text .boxes .box1 h4 {
  color: #848484;
}
.s4 .s4-in .text .boxes .box1 h2 {
  font-size: 29px;
}
.s4 .s4-in .text .button {
  width: 100%;
  display: flex;
}
.s4 .s4-in .text .button input {
  width: 68%;
  height: 60px;
  padding-left: 20px;
  font-size: 16px;
  border: none;
}
.s4 .s4-in .text .button button {
  width: 32%;
  height: 60px;
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: white;
  background-color: #ff3368;
  background-image: linear-gradient(16deg, #ff005a 0%, #ff5d2d 80%, #ffba00 100%);
  transition: 0.4s;
}
.s4 .s4-in .text .button button:hover {
  background-image: linear-gradient(16deg, #ff005a 0%, #ff5d2d 55%, #ffba00 100%);
}

.s5 {
  width: 100%;
}
.s5 .s5-in {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  padding: 70px 0;
}
.s5 .s5-in .text {
  display: flex;
  align-items: center;
  gap: 60px;
}
.s5 .s5-in .text h3 {
  margin-top: 9px;
  color: #ADADAD;
}
.s5 .s5-in .text h1 {
  font-size: 36px;
}
.s5 .s5-in .boxes {
  width: 100%;
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 50px;
}
.s5 .s5-in .boxes .box1 {
  width: 23%;
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: start;
  text-align: left;
}
.s5 .s5-in .boxes .box1 .text {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: start;
}
.s5 .s5-in .boxes .box1 .text h3 {
  color: black;
}
.s5 .s5-in .boxes .box1 .text h4 {
  font-weight: 300;
  font-size: 18px;
}
.s5 .s5-in .boxes .box1 .img {
  width: 100%;
}
.s5 .s5-in .boxes .box1 .img img {
  width: 100%;
}

.s6 {
  width: 100%;
  background-image: url(https://preview.colorlib.com/theme/aranoz/img/subscribe_area.png.webp);
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
}
.s6 .s6-in {
  width: 100%;
  padding: 110px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.s6 .s6-in .main {
  width: 55%;
}
.s6 .s6-in .main h4 {
  color: #ff005a;
  font-weight: normal;
}
.s6 .s6-in .main h1 {
  font-size: 45px;
  margin-top: 30px;
}
.s6 .s6-in .main .button {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}
.s6 .s6-in .main .button input {
  width: 66%;
  height: 60px;
  padding-left: 20px;
  font-size: 16px;
  border: none;
}
.s6 .s6-in .main .button button {
  width: 31%;
  height: 60px;
  border: none;
  border-radius: 6px;
  color: white;
  background-color: #ff3368;
  background-image: linear-gradient(16deg, #ff005a 0%, #ff5d2d 80%, #ffba00 100%);
  transition: 0.4s;
}
.s6 .s6-in .main .button button:hover {
  background-image: linear-gradient(16deg, #ff005a 0%, #ff5d2d 55%, #ffba00 100%);
}

footer {
  width: 100%;
}
footer .boxes {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 120px 0;
}
footer .boxes .box1 {
  width: 20%;
  padding: 20px;
  border-right: 1px solid rgba(173, 173, 173, 0.3647058824);
  border-bottom: 1px solid rgba(173, 173, 173, 0.3647058824);
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .footer-in {
  margin: auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 30px 0;
}
footer .footer-in .box2 {
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: start;
}
footer .footer-in .box1 {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
footer .footer-in .box1 ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #848484;
  font-size: 14px;
}
footer .footer-in .box1 ul li:hover {
  color: #ff005a;
  transition: 0.4s;
  cursor: pointer;
}

@media screen and (min-width: 768px) and (max-width: 995px) {
  .container {
    padding: 0 95px;
  }
  .s1 nav .list {
    display: none;
  }
  .s1 nav .menu {
    display: block;
  }
  .s1 .s1-in .img {
    display: none;
  }
  .s1 .s1-in .text {
    width: 70%;
    gap: 10px;
  }
  .s1 .s1-in .text h1 {
    font-size: 44px;
  }
  .s1 .s1-in .text button {
    width: 35%;
  }
  .s2 .s2-in .boxes .box1 {
    align-items: center;
    width: 48%;
    flex-direction: column;
  }
  .s2 .s2-in .boxes .box1 .img {
    position: relative;
    width: 30%;
  }
  .s2 .s2-in .boxes .box2 {
    width: 48%;
  }
  .s3 .s3-in .boxes .box1 {
    width: 48%;
  }
}
@media screen and (max-width: 767px) {
  .container {
    padding: 0 20px;
  }
  .s1 nav .list {
    display: none;
  }
  .s1 nav .menu {
    display: block;
  }
  .s1 .s1-in .img {
    display: none;
  }
  .s1 .s1-in .text {
    width: 100%;
    gap: 10px;
  }
  .s1 .s1-in .text h1 {
    font-size: 44px;
  }
  .s1 .s1-in .text button {
    width: 35%;
  }
  .s2 .s2-in .boxes {
    flex-direction: column;
  }
  .s2 .s2-in .boxes .box1 {
    align-items: center;
    width: 100%;
    flex-direction: column;
  }
  .s2 .s2-in .boxes .box1 .img {
    position: relative;
    width: 30%;
  }
  .s2 .s2-in .boxes .box2 {
    width: 100%;
  }
  .s2 .s2-in .boxes .box3 {
    width: 100%;
  }
  .s2 .s2-in .boxes .box4 {
    width: 100%;
  }
  .s3 .s3-in .boxes {
    flex-direction: column;
  }
  .s3 .s3-in .boxes .box1 {
    width: 100%;
  }
  .s4 .s4-in {
    flex-direction: column;
  }
  .s4 .s4-in .img {
    width: 100%;
  }
  .s4 .s4-in .text {
    width: 100%;
  }
  .s5 .s5-in .boxes {
    flex-direction: column;
  }
  .s5 .s5-in .boxes .box1 {
    width: 100%;
  }
  .s6 .s6-in .main {
    width: 100%;
  }
  footer .footer-in {
    flex-direction: column;
  }
  footer .footer-in .box1 {
    width: 70%;
  }
}/*# sourceMappingURL=style.css.map */